html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    text-align: center;
    background-color: #FFF3CA;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
}

header {
    color: #003C5F;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
}

#energy-area {
    display: flex;
    align-items: flex-start;
    width: 2rem;
    margin-right: 2rem;
    margin-bottom: 20px;
   /*  border: 2px solid #003C5F; */
    border-radius: 1rem;
    background-image: linear-gradient(green 50%, red);
    /* box-shadow: 10px 10px 8px #888888; */

}

#progress-bar {
    width: 2rem;
    height: 100%;
    background-color: #FFF3CA;
    /* background-image: linear-gradient(green, red 30%); */
    /* background-image: linear-gradient( #FFF3CA 90%, transparent);  */
}

#canvas {
    /* background-image: linear-gradient(#AADBF7, #3A89B7 25%, #003C5F, #FFF3CA); */
    background-image: linear-gradient(#c1ebfc, #37acdc);
    /* background-color: #37acdc; */
    box-shadow: 10px 10px 8px #888888;
    margin-bottom: 20px;
    border: 5px solid transparent;
}

#strength-area {
    display: flex;
    align-items: flex-start;
    margin-left: 2rem;
    width: 2rem;
    border-radius: 1rem;
    margin-bottom: 20px;
    background-image: linear-gradient(yellow 20%, #003C5F 60%);
}

#strength {
    width: 2rem;
    height: 50%;
    background-color: #FFF3CA;
}
