@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&family=Irish+Grover&family=Lakki+Reddy&family=Molle:ital@1&family=Monoton&family=Ribeye&display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    width: 100vw;
    text-align: center;
    background-image: linear-gradient(to right, #003C5F, rgb(0, 33, 53),  #003C5F );
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
}

header {
    display: flex;
    justify-content: center;
    padding: 0;
    width: 100vw;
    color: #c1ebfc;
    font-size: 1.5rem;
    font-family: 'Irish Grover';
}

header > h1 {
    position: absolute;
    left: 2rem;
    top: 1rem;
    margin: 0;
    text-shadow: 0 0 2px rgb(0, 33, 53);
    z-index: 1;
}

#level {
    display: none;
    flex-direction: row;
    max-width: 10rem;
    padding: 10px;
    margin: 1rem auto;
    border-radius: 5px;
    box-shadow: 0px 4px 8px #c1ebfc;
    background-color: #c1ebfc;
    color: rgb(0, 33, 53);
    font-size: 1.5rem;
    font-family: 'Arial';
}

@media screen and (max-width: 1500px) {
    #level {
        position: absolute;
        top: 1rem;
        border: 1px solid rgb(0, 33, 53);
    }
  }

#level-number {
    margin-left: 10px;
}

#button-area {
    display: flex;
    justify-content: center;
    margin: 0;
}

#play-again-btn,
#continue-btn {
    display: none;
    position: absolute;
    justify-content: center;
    top: 520px;
    width: 12rem;
    height: 4rem;
    font-size: 2rem;
    background-color: #aae7ff;
}

button {
    display: inline-block;
    width: 80px;
    height: 40px;
    margin: auto;
    border: 2px solid rgb(0, 33, 53);
    border-radius: 5px;
    background-color: #c1ebfc;
    color: rgb(0, 33, 53);
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
}

#welcoming-page {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    left: 0;
    justify-content: center;
    padding-top: 5rem;
    background-image: linear-gradient(to right, #003C5F, rgb(0, 33, 53),  #003C5F );
    font-size: 1.5rem;
    color: #c1ebfc;
}

#welcoming-page-container {
    width: 60vw;
    align-items: center;
}

#welcoming-page-container > * {
    padding-top: 20px;
}

#hint-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 50px;
}

#welcoming-page p {
    display: inline;
}

#welcoming-page ul {
    text-align: left;
    width: 50%;
    margin: auto;
}

#welcoming-page li {
    text-align: left;
    line-height: 4rem;
    vertical-align: middle;
}

#welcoming-page img {
    vertical-align: middle;
}

#welcoming-page img:nth-of-type(2) {
    max-width: 180px;
}

#canvas-preview {
    display: block;
    max-width: 100%;
    padding: 40px 0;
    margin: auto;
}

#start-btn {
    margin: 40px auto;
    width: 6rem;
    font-size: 1rem;
    padding: initial;
    border: 2px solid blue;
}

.vertical-text {
    display: none;
    justify-content: center;
    align-items: center;
    width: 4rem;
    color: #c1ebfc;
}

#energy-text,
#strength-text {
    font-size: 2rem;
    transform: rotate(-90deg);
}

#energy-area {
    display: flex;
    align-items: flex-start;
    width: 1rem;
    margin: 1rem 2rem 20px 0;
    border-radius: 1rem;
    background-image: linear-gradient(green 50%, red);
    box-shadow: 0px 4px 8px #c1ebfc;
    border: 1px solid #c1ebfc;
}

#progress-bar {
    width: 2rem;
    height: 100%;
    background-color: rgb(0, 33, 53);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#canvas {
    margin-top:1rem;
    margin-bottom: 20px;
    background-image: linear-gradient(#c1ebfc, #37acdc);
    box-shadow: 0px 4px 8px #c1ebfc;
    border: 5px solid transparent; 
}

#strength-area {
    display: flex;
    align-items: flex-start;
    width: 1rem;
    margin: 1rem 0 20px 2rem;
    border: 1px solid #c1ebfc;
    border-radius: 1rem;
    background-image: linear-gradient(yellow 50%, red);
    box-shadow: 0px 4px 8px #c1ebfc;
}

#strength {
    width: 2rem;
    height: 50%;
    background-color: rgb(0, 33, 53);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
